.header__lang_active {
  margin: 0;
  text-decoration: underline;
  font-size: 24px;
  color: #ffff;
}

@media screen and (max-width: 320px) {
  .header__lang {
    font-size: 18px;
    line-height: 20px;
  }
}
